discord.py==0.13.0
praw==3.3.0
bpython
django==2.2.10
psutil==3.3.0
pytz==2016.7
tabulate==0.7.5
django-import-export==1.2.0
python-dateutil==2.5.3
parsedatetime==2.1
mcrcon==0.5.2

uwsgi==2.0.18
psycopg2==2.8.2
