python-dateutil
parsedatetime

# discord
discord.py==1.3.4

# reddit
praw

# system stats
psutil

# minecraft
mcrcon

# django interface
pytz
django
django-import-export
tabulate

# dev tooling
bpython

# server/deploy
uwsgi
psycopg2
